<div class="row">
  <div class="text-center small-12 small-centered columns">
    <h1 style="font-family: rio_orobold">BRANDS we SUPPLY</h1>
  </div>
</div>
<hr>

<div class="row">
  <div class="text-center small-6 columns">
    <%= link_to (image_tag 'armalitelg.png'), brands_armalite_path %>
    <!--<h2 style="font-family: rio_orobold">Armalite</h2>-->
  </div>
  <div class="text-center small-6 columns">
    <%=link_to (image_tag 'rugerlg.png'), brands_ruger_path %>
    <!--<h2 style="font-family: rio_orobold">Ruger</h2>-->
  </div>
</div>

<div class="row">
  <div class="text-center small-6 columns">
    <%=link_to (image_tag 'tripleklg.png'), brands_triplek_path %>
    <!--<h2 style="font-family: rio_orobold">Triple K products</h2>-->
  </div>
  <div class="text-center small-6 columns">
    <%= link_to (image_tag 'stagarmslg.png'), brands_stagarms_path %>
    <!--<h2 style="font-family: rio_orobold">Stag Arms</h2>-->
  </div>
</div>

<div class="row">
  <div class="text-center small-6 columns">
    <%= link_to (image_tag 'glocklg.png'), brands_glock_path  %>
    <!--<h2 style="font-family: rio_orobold">Glock</h2>-->
  </div>
  <div class="text-center small-6 columns">
    <h2 style="font-family: rio_orobold"></h2>
  </div>
</div>
