<div class="row">
  <div class="text-center small-12 small-centered columns"><h1  style="font-family: rio_orobold; padding-top: 1em">Sharp Shop Shop Gallery</h1>
  </div>
</div>
<hr>
<!-- Main Grid Section -->


<div class="row">

  <div class=" text-center large-4 columns">
    <div class="panel">
      <h5 style="font-family: rio_orobold">1924 Ortgies</h5>
      <p>
        <%= image_tag "1959277.jpg", size: '350' %>
      </p>
      <p>We rebuilt this  for one of our first customers.
        7.65 (32ACP)</p>
    </div>
  </div>

  <div class=" text-center large-4 columns">
    <div class="panel">
      <h5 style="font-family: rio_orobold">Stag Arms model 3</h5>
      <p>
        <%= image_tag "2396504.jpg", size: '350' %>
      </p>
      <p>2 Lasers, LED Beam, Foregrip, King Cobra Barrel Sleeve, Custom Compensator, 36 IE AO 3x12 Scope, Combat Bipod.
        Customer wanted all the bells and whistles.
        </p>
    </div>
  </div>

  <div class=" text-center large-4 columns">
    <div class="panel">
      <h5 style="font-family: rio_orobold">S&W MP15 Sport</h5>
      <p>
        <%= image_tag "323882.jpg", size: '350' %>
      </p>
      <p>Tactical Laser, Compact 3x12 AO SWAT Scope.
      </p>
    </div>
  </div>

  <div class=" text-center large-4 columns">
    <div class="panel">
      <h5 style="font-family: rio_orobold">Winchester Model 94 (1964)</h5>
      <p>
        <%= image_tag "9318104.jpg", size: '350' %>
      </p>
      <p>We Refinished the stock and grip on this one.
        30-30 is a great gun.</p>
    </div>
  </div>

  <div class=" text-center large-4 columns">
    <div class="panel">
      <h5 style="font-family: rio_orobold">Weatherby Vanguard Deluxe 300 WIN MAG</h5>
      <p>
        <%= image_tag "3451377.jpg", size: '350' %>
      </p>
      <p>4-16 x56 AO Scope
        1000 yrds and still hits bulls eye.</p>
    </div>
  </div>
</div>
<!-- End Grid Section -->
