<div class="row">
  &nbsp

  <div class="text-center small-12 column">
    <h1  style="font-family: rio_orobold; margin-bottom: 0; padding-bottom: 0">welcome to the</h1>
  </div>


</div>
<div class="row">
  <div class="text-center small-12 column ">
    <h1  style="font-family: rio_orobold; margin-bottom: 0; padding-bottom: 0">SHARP SHOT SHOP</h1>
  </div>
</div>

<div class="row">

  <div class="small-6  column">
    <%= image_tag 'colt l.png' %>
  </div>

  <div class="small-6  column">
    <%= image_tag 'colt r.png' %>
  </div>

</div>

<hr/>


<h6>demo slider</h6>
<div class="row">
  <div class=" small-12 large-11 large-centered columns">
    <div class="slider variable-width">
      <div style="width: 345px;"><p><%= image_tag "1959277.jpg" %> </p></div>
      <div style="width: 345px;"><p><%= image_tag "2396504.jpg" %></p></div>
      <div style="width: 205px;"><p><%= image_tag "323882.jpg" %></p></div>
      <div style="width: 345px;"><p><%= image_tag "3451377.jpg" %></p></div>
      <div style="width: 345px;"><p><%= image_tag "9318104.jpg" %></p></div>

    </div>
  </div>
</div>

<div class="row">
  <div class="text-justify small-12 small-centered columns"><strong  style="font-family: rio_ororegular">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</strong>
    <br>
    <br>

    <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</strong>
    <br>
    <br>
    <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</strong>

  </div>
</div>

<hr/>

<div class="row">
  <div class="text-center small-12 small-centered columns"><h1  style="font-family: rio_orobold">WANTED</h1>
    <h2 style="font-family: rio_orobold">DEAD or ALIVE</h2>
  </div>
</div>
<script>

    $('.variable-width').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        centerMode: true,
        variableWidth: true
    });
</script>
