<div class="row">
  <!-- Side Bar -->

  <div class="large-4 small-12 columns">
    <%= image_tag 'tripleklg.png'%>

    <div class="hide-for-small ">
      <h3>Triple K brand</h3>

      <hr>
      <h5 class=" text-justify">Today, celebrating over 69 years in business, Triple K Manufacturing Company is still a family owned and operated San Diego based company. Triple K products are recognized around the globe. Kurt Krasne is looking forward to having his children, Kasey, Karly, and Keegan join him in the family business and keep the tradition of excellence and customer satisfaction alive. "After all, Customer Satisfaction is Everything." (Quote by Leo Krasne)</h5>
      <hr>
    </div><a href="#">
    <div class="panel callout radius">
      <h6>99&nbsp; items in your cart</h6>
    </div></a>
  </div><!-- End Side Bar -->
  <!-- Thumbnails -->

  <div class="large-8 columns">
    <div class="row">
      <!--<img src="http://www.triplek.com/marketing/WEBSITE-DEALERS/ART_II/_39.jpg" width="600">-->

      <% @product_s.each do |product| %>
          <div class="large-4 small-6 columns" >
            <%= link_to (image_tag product.image, class:"brand-tn"), product, style:'background-color: #fdfdfe'%>

            <div class="panel">
              <h5><%= product.name %></h5>

              <h6 class="subheader"><%= product.price %></h6>
            </div>
          </div>
          <!--<%= link_to (product.description.truncate (100)) , product %>-->
          <!--<td><%= product.cost %></td>-->
          <!--<td><%= product.qty %></td>-->

          <!--<td><%= product.brand %></td>-->
          <!--<td><%= link_to 'Show', product %></td>-->
          <!--<td><%= link_to 'Edit', edit_product_path(product) %></td>-->
          <!--<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <% end %>



    </div>
  </div>
</div>